:root {
  --title-font: "Sacramento", cursive;
  --body-font: "Short Stack", sans-serif;
}

body,
body * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  font-family: var(--body-font);
  font-size: 24px;
  margin: 0;
  line-height: 1.8;
  letter-spacing: 0.01ch;
  opacity: 1;
}

header {
  height: 140px;
  position: relative;
  overflow: hidden;
}

header .house {
  position: absolute;
  bottom: 0;
  left: 10px;
}

header .grass {
  height: 9.78px;
  position: absolute;
  bottom: 3px;
  left: 160px;
  right: 2px;
  background-image: url(/images/pouchgrass.png);
  background-repeat: repeat-x;
  background-size: auto 7.32px;
}