:root {
  --title-font: "Sacramento", cursive;
  --body-font: "Short Stack", sans-serif;
  --body-color: rgb(42, 39, 39);
  --content-width: 1200px;
}

body,
body * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  font-family: var(--body-font);
  font-size: 24px;
  margin: 0;
  line-height: 1.4;
  letter-spacing: 0.01ch;
  opacity: 1;
  color: var(--body-color);
}

a {
  color: var(--body-color);
  text-underline-offset: 3px;
}

a:hover {
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

header {
  height: 140px;
  position: relative;
  /* max-width: 1200px; */
  margin: 0 auto;
}

header .house {
  position: absolute;
  bottom: 0;
  left: 10px;
}

header .grass {
  height: 9.78px;
  position: absolute;
  bottom: 3px;
  left: 160px;
  right: 10px;
  background-image: url(/images/pouchgrass.png);
  background-repeat: repeat-x;
  background-size: auto 7.32px;
}

#cafe-title {
  margin: 0;
  position: absolute;
  left: 170px;
  bottom: -53px;
  line-height: 1.8;
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 110px;
  z-index: 100;
}

#cafe-title a,
#cafe-title a:hover {
  text-decoration: none;
}

header nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  gap: 25px;
}

a.button {
  cursor: pointer;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--body-color);
  background-color: #FFDDF5;
  color: var(--body-color);
  text-align: center;
  font-family: var(--body-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  border-radius: 15px;
  transition: background-color 0.25s ease-out;
  text-decoration: none;
}

a.button:hover {
  text-decoration: none;
  background-color: white;
}

a.button:active {
  position: relative;
  top: 3px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: #F8F5E6;
  border-bottom: 5px solid #866B44;
}

footer h1 {
  font-weight: normal;
  margin-top: 0;
  font-size: 40px;
}

#social {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#social .button {
  border: none;
  background-color: var(--body-color);
  color: white;
}

#social .button:hover {
  background-color: rgb(194, 135, 32);
}