:root {
  --title-font: "Sacramento", cursive;
  --body-font: "Short Stack", sans-serif;
  --body-color: rgb(42, 39, 39);
  --light-gray: #E7E9EE;
  --lighter-tan: #fffdf5;
  --light-tan: #F8F5E6;
  --dark-tan: #866B44; 
  --golden-tan: rgb(194, 135, 32);
  --content-width: 1200px;


  --desktop-header-height: 140px;
  --mobile-header-height: 80px;
}

body,
body * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  font-family: var(--body-font);
  font-size: 24px;
  margin: 0;
  line-height: 1.4;
  letter-spacing: 0.01ch;
  opacity: 1;
  color: var(--body-color);
}

a {
  color: var(--body-color);
  text-underline-offset: 3px;
}

a:hover {
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

header {
  height: var(--desktop-header-height);
  position: relative;
  margin: 0 auto;
}

header .house {
  position: absolute;
  bottom: 0;
  left: 10px;
  height: 90%;
  aspect-ratio: 151/120;
  z-index: 99;
}

header .grass {
  height: 9.78px;
  position: absolute;
  z-index: 99;
  bottom: 3px;
  left: 160px;
  right: 10px;
  background-image: url(/images/pouchgrass.png);
  background-repeat: repeat-x;
  background-size: auto 7.32px;
}

#cafe-title {
  margin: 0;
  position: absolute;
  left: 170px;
  bottom: -53px;
  line-height: 1.8;
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 110px;
  z-index: 100;
}

#cafe-title a,
#cafe-title a:hover {
  text-decoration: none;
  height: 100%;
  display: block;
}

header nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  gap: 25px;
}

button,
a.button {
  cursor: pointer;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--body-color);
  background-color: #FFDDF5;
  color: var(--body-color);
  text-align: center;
  font-family: var(--body-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  border-radius: 15px;
  transition: background-color 0.25s ease-out;
  text-decoration: none;
}

button:hover,
a.button:hover {
  text-decoration: none;
  background-color: white;
}

a.button:active {
  position: relative;
  top: 3px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 25px;
  background-color: #F8F5E6;
  border-bottom: 5px solid var(--dark-tan);
  text-align: center;
  margin-top: 100px;
}

footer h1 {
  font-weight: normal;
  margin-top: 0;
  font-size: 40px;
  text-align: center;
}

#social {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#newsletter-embed button,
#social .button {
  border: none;
  background-color: var(--body-color);
  color: white;
}

#newsletter-embed button:hover,
#social .button:hover {
  background-color: var(--golden-tan);
}


.nav > .nav-btn {
  display: none;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:1024px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 80;
    height: 100%;
  }
  .nav > .nav-btn > label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100%;
    padding: 13px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid var(--body-color);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: var(--lighter-tan);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: calc(var(--desktop-header-height) - 10px);
    left: 0px;
    z-index: 80;
    border-bottom: 2px solid var(--golden-tan);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  }
  .nav > .nav-links > a {
    display: flex;
    width: 100%;
    height: 75px;
    font-size: 24px;
    border-bottom: 1px solid var(--golden-tan);
    justify-content: center;
    align-items: center;
    background-color: var(--light-tan);
  }
  .nav > .nav-links > a:hover {
    text-decoration: none;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
    border-bottom: 0;
    box-shadow: 0;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - var(--desktop-header-height));
    overflow-y: hidden;
  }
}

@media (max-width:600px) {

.nav > .nav-links {
  top: calc(var(--mobile-header-height) - 10px);
}

.nav > #nav-check:checked ~ .nav-links {
  height: calc(100vh - var(--mobile-header-height));
}

header {
  height: var(--mobile-header-height);
}

header .house {
  left: 10px;
}

header .grass {
  bottom: -2px;
  left: 99px;
  right: 10px;
  background-size: auto 4px;
}

#cafe-title {
  left: 105px;
  bottom: -25px;
  line-height: 1.8;
  font-family: var(--title-font);
  font-size: 60px;
}

#cafe-title a,
#cafe-title a:hover {
  text-decoration: none;
  height: 100%;
  display: block;
}

#social,
footer {
  flex-direction: column;
}

}

.center {
  text-align: center;
}