#hero {
  height: 700px;
  position: relative;
}

#hero::before {
  content: "";
  height: 700px;
  width: 100%;
  display: block;
  background-image: url(/images/grid.png);
  background-size: 200px 200px;
  position: absolute;
  top: -8px;
  z-index: -5;
}

#hero .content {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: var(--content-width);
  margin: 0 auto;
}

#hero .cover {
  width: 426px;
  height: 606px;
  box-shadow: 13px 12px 30px 5px rgba(0, 0, 0, 0.25);
}

#hero .herotext {
  line-height: normal;
  flex-grow: 2;
  text-align: center;
  font-weight: normal;
  padding: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
}

.herotext .psst {
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}

.herotext h2 {
  font-family: var(--body-font);
  font-size: 36px;
}

#intro .table {
  width: 502px;
  height: 435px;
}

#intro .content {
  height: 700px;
  gap: 100px;

}

h2 {
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 96px;
  max-width: var(--content-width);
  margin: 0 auto;
}

#announcements h2,
#newarrivals h2 {
  position: relative;
  top: 50px;
  left: 25px;
  z-index: -50;
}

#newarrivals .content {
  height: 500px;
  gap: 10px;
}

.rprpg,
.toaster {
  height: 100%;
  flex-grow: 1;
  position: relative;
}

.rprpg {
  background-color: #DCF2FF;
}

.rprpg img {
  position: absolute;
  bottom: 0;
}

.toaster {
  background-color: #F9FFB9;
}

.toaster img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.table {
  margin-top: 25px;
  margin-bottom: 125px;
}

#announcements .content.table {
  flex-direction: column;
}

.table .row {
  font-size: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  width: 100%;
  padding: 0 5%;
  height: 85px;
  align-items: center;
  border-bottom: 1px solid #E7E9EE;
}

.table .row .author,
.table .row .date {
  text-align: right;

}
