:root {
  --hero-height: 700px;
  --hero-height-mobile: 700px;
}

#hero {
  height: var(--hero-height);
  position: relative;
}

.toaster-cover,
.rprpg-cover {
  max-width: 100%;
}

#hero::before {
  content: "";
  height: var(--hero-height);
  width: 100%;
  display: block;
  background-image: url(/images/grid.png);
  background-size: 200px 200px;
  position: absolute;
  top: -8px;
  z-index: -5;
}

#hero .content {
  height: 100%;
  padding: 25px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: var(--content-width);
  margin: 0 auto;
}

#hero .cover {
  aspect-ratio: 426/606;
  height: 95%;
  box-shadow: 13px 12px 30px 5px rgba(0, 0, 0, 0.25);
}

#hero .herotext {
  line-height: normal;
  flex-grow: 2;
  text-align: center;
  font-weight: normal;
  padding: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
}

.herotext .psst {
  font-size: 16px;
  margin: 0;
  margin-top: 30px;
}

.learnmore {
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}

.herotext h2 {
  font-family: var(--body-font);
  font-size: 32px;
}

#intro .cafetable {
  max-width: 90%;
  width: 502px;
  aspect-ratio: 502/435;
}

#intro .content {
  gap: 100px;
  padding: 20px;
}

#intro {
  margin-top: 100px;
  margin-bottom: 50px;
}

h2 {
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 96px;
  max-width: var(--content-width);
  margin: 0 auto;
}

#newarrivals h2,
#announcements h2 {
  position: relative;
  padding-left: 25px;
  z-index: -50;
}

#newarrivals h2 {
  top: 35px;
}

#announcements h2 {
  top: 50px;
}

#newarrivals .content {
  gap: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

#newarrivals small {
  text-align: center;
  font-size: 14px;
}

.rprpg,
.toaster {
  height: 100%;
  position: relative;
}

.rprpg {
  background-color: #DCF2FF;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 3fr 2fr;
  align-items: center;
  padding: 1em;
  gap: 10px;
}

.zine-explained {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

/* ty https://owumaro.github.io/text-stroke-generator/ */
.whiteoutlinetext {
  text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
}

.zine-explained big {
  font-size: 40px;
}

.coverbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rprpg-cover {
  aspect-ratio: 348/450;
  width: 300px;
  transform: rotate(-5deg);
}

.toastercoverbox {
  transform: rotate(5deg);
}

.toastercoverbox p {
  font-size: 14px;

}

.toaster {
  background-color: #F9FFB9;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 4fr 5fr;
  padding: 1.5em;
}

.toaster-cover {
  aspect-ratio: 271/350;
  width: 225px;
}

.toaster .zine-explained {
  margin-top: 30px;
}

#toasterthecat {
  line-height: 1.2;
  display: block;
  margin: 5px 0;
}

.table {
  margin-top: 25px;
  margin-bottom: 125px;
}

#announcements .content.table {
  flex-direction: column;
}

.table .row {
  font-size: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  width: 100%;
  padding: 0 5%;
  height: 85px;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
}

.table .row .author,
.table .row .date {
  text-align: right;

}

@media (max-width:1024px) {

#hero .cover {
  height: 400px;
  box-shadow: 7px 6px 15px 2.5px rgba(0, 0, 0, 0.25);
}

#hero::before,
#hero {
  height: calc(var(--hero-height-mobile) * 0.8);
}
.herotext h2 {
  font-size: 24px;
}

h2 {
  font-size: 80px;
}

#hero .herotext  {
  padding: 10px;
  gap: 12px;
}

.herotext .psst {
  font-size: 14px;
}

#newarrivals .content {
  grid-auto-flow: row;
}



#intro .cafetable {
  width: 350px;
}

#intro .content {
  font-size: 18px;
  gap: 50px;
}

#newarrivals h2 {
  top: 25px;
}

}

@media (max-width:600px) {

#hero {
  height: var(--hero-height-mobile);
  position: relative;
}

#hero::before {
  content: "";
  height: var(--hero-height-mobile);;
}


.herotext h2 {
  font-size: 24px;
}
#hero .herotext  {
  padding: 10px;
}

.herotext .psst {
  font-size: 12px;
}

#hero .content {
  flex-direction: column;
}

.rprpg-cover {
  width: 175px;
}

.toaster-cover {
  width: 150px;
}

.zine-explained {
  font-size: 14px;
}

.zine-explained big {
  font-size: 30px;
}

#newarrivals small {
  font-size: 10px;
}

.table .row .author,
.table .row .date {
  display: none;
}

.table .row {
  font-size: 18px;
  grid-template-columns: 1fr;
}

#intro .content {
  flex-direction: column;
}

#newarrivals h2,
#announcements h2 {
  padding-left: 15px;
}


h2 {
  font-size: 60px;
}

}