.page {
  font-size: 20px;
  width: 700px;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

.page h1,
.page h2 {
  font-family: var(--body-font);
  text-align: center;
  color: #18C1F7;
  margin-top: 100px;
}

.page h3 {
  font-family: var(--body-font);
  margin-top: 30px;
}

ul li {
  margin-bottom: 20px;
}

.page h1 {
  font-size: 40px;
}

.page h2 {
  font-size: 32px;
}

small {
  font-size: 14px;;
}

.page img {
  max-width: 100%;
}
