<!DOCTYPE >
<html>
  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta property="og:image" content={{ ogimage }} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={{ ogdescription }} />
    <title>{{ title }}</title>
  
    <!-- HTML Meta Tags -->
    <meta name="description" content="Welcome to Pouch Cafe!">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://pouch.cafe/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="A tiny online zine store ✂️">
    <meta property="og:image" content="https://pouch.cafe/images/og.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="pouch.cafe">
    <meta property="twitter:url" content="https://pouch.cafe/">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="A tiny online zine store ✂️">
    <meta name="twitter:image" content="https://pouch.cafe/images/og.png">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <link rel="icon" type="image/png" href="/images/wich.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&family=Short+Stack&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/global.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ stylesheet | safe }}" type="text/css" media="screen" />
    <script src="{{ script | safe }}" defer></script>
  </head>
    <body>
        <header class="nav">
          <a href="/"><img src="/images/house.png" class="house"/></a>
          <h1 id="cafe-title"><a href="/">pouch cafe</a></h1>
          <div class="grass"></div>
          <input type="checkbox" id="nav-check">
            <div class="nav-btn">
            <label for="nav-check">
              <span></span>
              <span></span>
              <span></span>
            </label>
          </div>
          <nav class="nav-links">
            <a href="/"><span>Home</span></a>
            <a href="/pouch"><img src="/images/pouchlogo.png" height="23" width="85" /></a>
            <a href="https://pouchcafe.gumroad.com/"><span>Shop</span></a>
            <a href="/about"><span>About</span></a>
            <a href="/contribute"><span>Submit to Pouch!</span></a>
          </nav>
        </header>
        <main>
          {{ content | safe }}
        </main>
        <footer>
          <h1>Stay in touch!</h1>
          <div id="social">
            <a class="button" href="https://pouchcafe.gumroad.com/subscribe">Newsletter</a>
            <a class="button" href="https://www.instagram.com/pouch.cafe">Instagram</a>
          </div>
          <p>
            <small>Send questions to <code>hello@pouch.cafe</code></small>
          </p>
        </footer>
    </body>
</html>
